pyannote.audio == 3.0
datasets 
#Install pyannote.audio 3.0 with pip install pyannote.audio
#Accept pyannote/segmentation-3.0 user conditions
#Accept pyannote/speaker-diarization-3.0 user conditions
#Create access token at hf.co/settings/tokens.
soundfile